<div class="container">
 	<div class="website-banner">

    </div>
    <div class="row">
	   	<div class="col-lg-12">
	        <h1 class="page-header">About Us</h1>
	    </div>
    </div>
    <div class="row">
    	<div class="col-lg-6">
		    <div class="company-about">
		    	<h3>Who We Are!</h3>
		    	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ut nulla a dolor aliquet efficitur at sed est. Curabitur rutrum enim felis. Etiam quis nulla sit amet sem hendrerit lacinia sed in arcu. Phasellus eleifend enim quis arcu mattis malesuada. Fusce vitae ante dapibus, tristique erat ut, blandit odio. Proin a nisl bibendum, ultrices purus a, faucibus lorem. In rutrum magna nec ligula pretium, ut vulputate ex elementum.</p>
		    </div>
	    </div>
	   	<div class="col-lg-6">
		    <div class="company-what-we-do">
		    	<h3>What We Do!</h3>
		    	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ut nulla a dolor aliquet efficitur at sed est. Curabitur rutrum enim felis. Etiam quis nulla sit amet sem hendrerit lacinia sed in arcu. Phasellus eleifend enim quis arcu mattis malesuada. Fusce vitae ante dapibus, tristique erat ut, blandit odio. Proin a nisl bibendum, ultrices purus a, faucibus lorem. In rutrum magna nec ligula pretium, ut vulputate ex elementum.</p>
		    </div>
		</div>
    </div>
</div>
