.navbar {
    margin-bottom: 0;
}
.navbar-default {
    border-color: transparent;
}
.navbar-black {
    background: #0b0a0a none;
}
.navbar-black a {
    color: #FFFFFF;
    font-size: 14px;
}
.navbar-black .dropdown-menu li a {
    color: #000000;
    font-size: 14px;
}
.navbar-black .navbar-brand {
    font-size: 20px;
}