	<div class="container-fluid">
	    <div id="myCarousel" class="carousel slide" data-ride="carousel">
	      <!-- Indicators -->
	      <ol class="carousel-indicators">
	        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
	        <li data-target="#myCarousel" data-slide-to="1"></li>
	        <li data-target="#myCarousel" data-slide-to="2"></li>
	      </ol>
	      <div class="carousel-inner" role="listbox">
	        <div class="item active">
	          <img class="first-slide" src="app/resources/images/banner-1.jpg" alt="First slide">
	          <div class="container">
	            <div class="carousel-caption">
	              <h1>Folically Feral!</h1>
	            </div>
	          </div>
	        </div>
	        <div class="item">
	          <img class="second-slide" src="app/resources/images/banner-2.jpg" alt="Second slide">
	          <div class="container">
	            <div class="carousel-caption">
	              <h1>Try Our Homemade Products!</h1>
	            </div>
	          </div>
	        </div>
	        <div class="item">
	          <img class="third-slide" src="app/resources/images/banner-3.jpg" alt="Third slide">
	          <div class="container">
	            <div class="carousel-caption">
	              <h1>Secret Recipes!</h1>
	            </div>
	          </div>
	        </div>
	      </div>
	      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
	      	<span class="glyphicon" aria-hidden="true"><i class="fa fa-arrow-left" aria-hidden="true"></i></span>
	        <span class="sr-only">Previous</span>
	      </a>
	      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
	      	<span class="glyphicon" aria-hidden="true"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
	        <span class="sr-only">Next</span>
	      </a>
	    </div>
    </div>
<div class="container">
    <div class="page-title">
    	<h1>Welcome To Follically Feral!</h1>
    	<h4>For All Your Beard Needs</h4>
    </div>
    <div class="product-reel">
    	<h3>Products</h3>
    	<div class="row">
    		<div class="col-lg-3 product-item-space">
		    	<div class="product-item">
		    		<div class="product-item-image">
		    			<a href="#"><img src="app/resources/images/placeholder.png"></a>
		    		</div>
		    		<div class="product-item-title">
		    			<a href="#"><h3>Product 1</h3></a>
		    		</div>
		    		<div class="product-item-body">
		    			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque luctus nisi non auctor eleifend. Praesent accumsan odio ac erat iaculis varius.</p>
		    		</div>
		    	</div>
    		</div>
    		<div class="col-lg-3 product-item-space">
		    	<div class="product-item">
		    		<div class="product-item-image">
		    			<a href="#"><img src="app/resources/images/placeholder.png"></a>
		    		</div>
		    		<div class="product-item-title">
		    			<a href="#"><h3>Product 2</h3></a>
		    		</div>
		    		<div class="product-item-body">
		    			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque luctus nisi non auctor eleifend. Praesent accumsan odio ac erat iaculis varius.</p>
		    		</div>
		    	</div>
    		</div>
    		<div class="col-lg-3 product-item-space">
		    	<div class="product-item">
		    		<div class="product-item-image">
		    			<a href="#"><img src="app/resources/images/placeholder.png"></a>
		    		</div>
		    		<div class="product-item-title">
		    			<a href="#"><h3>Product 3</h3></a>
		    		</div>
		    		<div class="product-item-body">
		    			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque luctus nisi non auctor eleifend. Praesent accumsan odio ac erat iaculis varius.</p>
		    		</div>
		    	</div>
    		</div>
    	</div>
    </div>
    <hr>
    <div class="news-reel">
    	<h3>News</h3>
    	<div class="row">
    		<div class="col-lg-3 news-item-space">
		    	<div class="news-item">
		    		<div class="news-item-image">
		    			<a href="#"><img src="app/resources/images/placeholder.png"></a>
		    		</div>
		    		<div class="news-item-title">
		    			<a href="#"><h3>News Item</h3></a>
		    		</div>
		    		<div class="news-item-body">
				    	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque luctus nisi non auctor eleifend. Praesent accumsan odio ac erat iaculis varius.</p>
		    		</div>
		    	</div>
	    	</div>
	    	<div class="col-lg-3 news-item-space">
		    	<div class="news-item">
		    		<div class="news-item-image">
		    			<a href="#"><img src="app/resources/images/placeholder.png"></a>
		    		</div>
		    		<div class="news-item-title">
		    			<a href="#"><h3>News Item</h3></a>
		    		</div>
		    		<div class="news-item-body">
				    	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque luctus nisi non auctor eleifend. Praesent accumsan odio ac erat iaculis varius.</p>
		    		</div>
		    	</div>
	    	</div>
	    	<div class="col-lg-3 news-item-space">
		    	<div class="news-item">
		    		<div class="news-item-image">
		    			<a href="#"><img src="app/resources/images/placeholder.png"></a>
		    		</div>
		    		<div class="news-item-title">
		    			<a href="#"><h3>News Item</h3></a>
		    		</div>
		    		<div class="news-item-body">
				    	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque luctus nisi non auctor eleifend. Praesent accumsan odio ac erat iaculis varius.</p>
		    		</div>
		    	</div>
	    	</div>
    	</div>
    </div>
    <section id="carousel">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="carousel slide" id="fade-quote-carousel" data-ride="carousel" data-interval="3000">
	                  <ol class="carousel-indicators">
					    <li data-target="#fade-quote-carousel" data-slide-to="0" class="active"></li>
					    <li data-target="#fade-quote-carousel" data-slide-to="1"></li>
					    <li data-target="#fade-quote-carousel" data-slide-to="2"></li>
					  </ol>
					  <div class="carousel-inner">
					    <div class="item">
	                        <div class="profile-circle" style="background-color: rgba(0,0,0,.2);"></div>
					    	<blockquote>
					    		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis nulla eum laudantium totam tempore optio doloremque laboriosam quas, quos eaque molestias odio aut eius animi. Impedit temporibus nisi accusamus.</p>
					    	</blockquote>
					    </div>
					    <div class="item">
	                        <div class="profile-circle" style="background-color: rgba(77,5,51,.2);"></div>
					    	<blockquote>
					    		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis nulla eum laudantium totam tempore optio doloremque laboriosam quas, quos eaque molestias odio aut eius animi. Impedit temporibus nisi accusamus.</p>
					    	</blockquote>
					    </div>
					    <div class="active item">
	                        <div class="profile-circle" style="background-color: rgba(145,169,216,.2);"></div>
					    	<blockquote>
					    		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis nulla eum laudantium totam tempore optio doloremque laboriosam quas, quos eaque molestias odio aut eius animi. Impedit temporibus nisi accusamus.</p>
					    	</blockquote>
					    </div>
					  </div>
					</div>
				</div>
			</div>
	</section>
    <div class="social-media-icons">
    	<h4>Connect with us!</h4>
    	<hr>
    	<a href=""><img src="app/resources/images/facebook-icon.png"></a>
    	<a href=""><img src="app/resources/images/twitter-icon.png"></a>
    	<a href=""><img src="app/resources/images/insta-icon.png"></a>
    	<a href=""><img src="app/resources/images/email-icon.png"></a>
    </div>
</div>
<div class="container-fluid">
    <div class="row footer">
	    <div class="col-md-12">
	        <div class="row">
		      	<div class="col-md-4 gallery">
		       		<h2>Gallery</h2>
		       		<div id="footer-carousel" class="carousel slide" data-ride="carousel">
					    <div class="carousel-inner" role="listbox">
					    	<div class="item footer-item active">
					          <img class="first-slide" src="app/resources/images/banner-1.jpg" alt="First slide">
					        </div>
					        <div class="item footer-item">
					          <img class="second-slide" src="app/resources/images/banner-2.jpg" alt="Second slide">
					        </div>
					        <div class="item footer-item">
					          <img class="third-slide" src="app/resources/images/banner-3.jpg" alt="Third slide">
					        </div>
					    </div>
					</div>
		       	</div>
	        	<div class="col-md-4">
	        		<h2>News Feed</h2>
		       	</div>
		       	<div class="col-md-4 subscribe">
		       		<h2>Newsletter</h2>
		       		<form action="action_page.php">
						Subscript to Our Newsletter:<br><br>
						<input class="subscribe-input" type="text" name="newsletter">
						<input class="btn btn-secondary subscribe-button" type="button" name="submit" value="Subscribe">
					</form>
	        	</div>
	        </div>
	   	</div>
    </div>
</div>
