<div class="container-fluid">
    <div class="website-banner">

    </div>
    <div class="page-title">
    	<h1>Welcome To Follically Feral!</h1>
    	<h4>For All Your Beard Needs</h4>
    </div>
    <div class="product-reel">
    	<h3>Products</h3>
    	<div class="row">
    		<div class="col-lg-3 product-item-space">
		    	<div class="product-item">
		    		<div class="product-item-image">
		    			<img src="app/assets/images/placeholder.png">
		    		</div>
		    		<div class="product-item-title">
		    			<h3>Product 1</h3>
		    		</div>
		    		<div class="product-item-body">
		    			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque luctus nisi non auctor eleifend. Praesent accumsan odio ac erat iaculis varius.</p>
		    		</div>
		    	</div>
    		</div>
    		<div class="col-lg-3 product-item-space">
		    	<div class="product-item">
		    		<div class="product-item-image">
		    			<img src="app/assets/images/placeholder.png">
		    		</div>
		    		<div class="product-item-title">
		    			<h3>Product 2</h3>
		    		</div>
		    		<div class="product-item-body">
		    			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque luctus nisi non auctor eleifend. Praesent accumsan odio ac erat iaculis varius.</p>
		    		</div>
		    	</div>
    		</div>
    		<div class="col-lg-3 product-item-space">
		    	<div class="product-item">
		    		<div class="product-item-image">
		    			<img src="app/assets/images/placeholder.png">
		    		</div>
		    		<div class="product-item-title">
		    			<h3>Product 3</h3>
		    		</div>
		    		<div class="product-item-body">
		    			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque luctus nisi non auctor eleifend. Praesent accumsan odio ac erat iaculis varius.</p>
		    		</div>
		    	</div>
    		</div>
    	</div>
    </div>
    <div class="news-reel">
    	<h3>News</h3>
    	<div class="row">
    		<div class="col-lg-3 news-item-space">
		    	<div class="news-item">
		    		<div class="news-item-image">
		    			<img src="app/assets/images/placeholder.png">
		    		</div>
		    		<div class="news-item-title">
		    			<h3>News Item</h3>
		    		</div>
		    		<div class="news-item-body">
				    	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque luctus nisi non auctor eleifend. Praesent accumsan odio ac erat iaculis varius.</p>
		    		</div>
		    	</div>
	    	</div>
	    	<div class="col-lg-3 news-item-space">
		    	<div class="news-item">
		    		<div class="news-item-image">
		    			<img src="app/assets/images/placeholder.png">
		    		</div>
		    		<div class="news-item-title">
		    			<h3>News Item</h3>
		    		</div>
		    		<div class="news-item-body">
				    	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque luctus nisi non auctor eleifend. Praesent accumsan odio ac erat iaculis varius.</p>
		    		</div>
		    	</div>
	    	</div>
	    	<div class="col-lg-3 news-item-space">
		    	<div class="news-item">
		    		<div class="news-item-image">
		    			<img src="app/assets/images/placeholder.png">
		    		</div>
		    		<div class="news-item-title">
		    			<h3>News Item</h3>
		    		</div>
		    		<div class="news-item-body">
				    	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque luctus nisi non auctor eleifend. Praesent accumsan odio ac erat iaculis varius.</p>
		    		</div>
		    	</div>
	    	</div>
    	</div>
    </div>
    <div class="social-media-icons">
    	<h4>Connect with us!</h4>
    	<hr>
    	<a href=""><img src="app/assets/images/facebook-icon.png"></a>
    	<a href=""><img src="app/assets/images/twitter-icon.png"></a>
    	<a href=""><img src="app/assets/images/insta-icon.png"></a>
    	<a href=""><img src="app/assets/images/email-icon.png"></a>
    </div>
    <div class="row footer">
        <div class="col-md-12">
	        <div class="row">
	        	<div class="col-md-4">
	        		<h2>Gallery</h2>
	        	</div>
	        	<div class="col-md-4">
	        		<h2>News Feed</h2>
	        	</div>
	        	<div class="col-md-4">
	        		<h2>Contact</h2>
	        		<form action="action_page.php">
						Title:<br>
						<input type="text" name="title"><br>
						Body:<br>
						<textarea type="text" name="body"></textarea><br><br>
						<input type="submit" value="Submit">
					</form>
	        	</div>
	        </div>
    	</div>
    </div>
</div>
