*{
	font-family: 'Roboto Condensed', sans-serif;
}

.news-reel{
	padding-bottom: 5%;
}

.news-item-image img{
	display: block;
	margin-right: auto;
	margin-left: auto;
	max-width: 100%;
	max-height: 75%;
}

.news-reel h3{
	padding-bottom: 2%;
	text-align: center;
}

.news-item-space{
	margin-right: 4.1%;
	margin-left: 4.1%;
	margin-top: 15px;
}

.news-item-title{
	padding-left: 6%;
	padding-right: 6%;
}

.news-item-body{
	padding-left: 6%;
	padding-right: 6%;
	padding-bottom: 6%;
}

.news-item{
	background-color: #D1D1D1;
	border:none;
	border-radius: 3px;
	padding-top: 4px;
	text-decoration: none;
	color: #000;
	-webkit-transition: background-color 0.5s; /* Safari */
    transition: background-color 0.5s;
}

	.news-item:hover{
		background-color: #fff;
		padding-top: 4px;
	}