<div class="container-fluid">
    <div class="news-reel">
    	<h3>News</h3>
    	<div class="row">
    		<div class="col-lg-3 news-item-space">
		    	<div class="news-item">
		    		<div class="news-item-image">
		    			<img src="app/resources/images/placeholder.png">
		    		</div>
		    		<div class="news-item-title">
		    			<h3>News Item</h3>
		    		</div>
		    		<div class="news-item-body">
				    	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque luctus nisi non auctor eleifend. Praesent accumsan odio ac erat iaculis varius.</p>
		    		</div>
		    	</div>
	    	</div>
	    	<div class="col-lg-3 news-item-space">
		    	<div class="news-item">
		    		<div class="news-item-image">
		    			<img src="app/resources/images/placeholder.png">
		    		</div>
		    		<div class="news-item-title">
		    			<h3>News Item</h3>
		    		</div>
		    		<div class="news-item-body">
				    	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque luctus nisi non auctor eleifend. Praesent accumsan odio ac erat iaculis varius.</p>
		    		</div>
		    	</div>
	    	</div>
	    	<div class="col-lg-3 news-item-space">
		    	<div class="news-item">
		    		<div class="news-item-image">
		    			<img src="app/resources/images/placeholder.png">
		    		</div>
		    		<div class="news-item-title">
		    			<h3>News Item</h3>
		    		</div>
		    		<div class="news-item-body">
				    	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque luctus nisi non auctor eleifend. Praesent accumsan odio ac erat iaculis varius.</p>
		    		</div>
		    	</div>
	    	</div>
	    	    		<div class="col-lg-3 news-item-space">
		    	<div class="news-item">
		    		<div class="news-item-image">
		    			<img src="app/resources/images/placeholder.png">
		    		</div>
		    		<div class="news-item-title">
		    			<h3>News Item</h3>
		    		</div>
		    		<div class="news-item-body">
				    	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque luctus nisi non auctor eleifend. Praesent accumsan odio ac erat iaculis varius.</p>
		    		</div>
		    	</div>
	    	</div>
	    	<div class="col-lg-3 news-item-space">
		    	<div class="news-item">
		    		<div class="news-item-image">
		    			<img src="app/resources/images/placeholder.png">
		    		</div>
		    		<div class="news-item-title">
		    			<h3>News Item</h3>
		    		</div>
		    		<div class="news-item-body">
				    	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque luctus nisi non auctor eleifend. Praesent accumsan odio ac erat iaculis varius.</p>
		    		</div>
		    	</div>
	    	</div>
	    	<div class="col-lg-3 news-item-space">
		    	<div class="news-item">
		    		<div class="news-item-image">
		    			<img src="app/resources/images/placeholder.png">
		    		</div>
		    		<div class="news-item-title">
		    			<h3>News Item</h3>
		    		</div>
		    		<div class="news-item-body">
				    	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque luctus nisi non auctor eleifend. Praesent accumsan odio ac erat iaculis varius.</p>
		    		</div>
		    	</div>
	    	</div>
    	</div>
    </div>
</div>
